
img{
    width:180px;
    height: 120px;
    padding: 60px;
}
.box{
   width: 70%;
   height: 500%px;
   margin: 100px auto;
   border: 5px solid teal;
   border-radius:130px;
}
.ib{
    width:250px;
    height: 190px;
    display: block;
    margin: auto;
    border: 1px solid rgb(6, 135, 241);
    border-radius: 20%;
}
.img1{
    width: 170px;
    height: 100px;
    display: block;
    margin:auto;
    padding: 40px;
}

